<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frameburst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tagCharactersActivity"></activity>
        <activity android:name=".p4auCharactersActivity" />
        <activity android:name=".uniclrCharactersActivity" />
        <activity android:name=".bbcfCharactersActivity" />
        <activity android:name=".Rev2SolActivity" />
        <activity android:name=".acrCharactersActivity" />
        <activity android:name=".Rev2CharactersActivity" />
        <activity android:name=".GuiltygearSeriesActivity" />
        <activity android:name=".bbcfAzraelActivity" />
        <activity android:name=".bbcfAmaneActivity" />
        <activity android:name=".bbcfArakuneActivity" />
        <activity android:name=".bbcfBangActivity" />
        <activity android:name=".bbcfBulletActivity" />
        <activity android:name=".bbcfCarlActivity" />
        <activity android:name=".bbcfCelicaActivity" />
        <activity android:name=".bbcfEsActivity" />
        <activity android:name=".bbcfHakumenActivity" />
        <activity android:name=".bbcfHazamaActivity" />
        <activity android:name=".bbcfHibikiActivity" />
        <activity android:name=".bbcfIzanamiActivity" />
        <activity android:name=".bbcfIzayoiActivity" />
        <activity android:name=".bbcfJinActivity" />
        <activity android:name=".bbcfJubeiActivity" />
        <activity android:name=".bbcfKaguraActivity" />
        <activity android:name=".bbcfLambdaActivity" />
        <activity android:name=".bbcfLitchiActivity" />
        <activity android:name=".bbcfMaiActivity" />
        <activity android:name=".bbcfMakotoActivity" />
        <activity android:name=".bbcfMuActivity" />
        <activity android:name=".bbcfNaotoActivity" />
        <activity android:name=".bbcfNineActivity" />
        <activity android:name=".bbcfNoelActivity" />
        <activity android:name=".bbcfNuActivity" />
        <activity android:name=".bbcfPlatinumActivity" />
        <activity android:name=".bbcfRachelActivity" />
        <activity android:name=".bbcfRagnaActivity" />
        <activity android:name=".bbcfReliusActivity" />
        <activity android:name=".bbcfSusanooActivity" />
        <activity android:name=".bbcfTagerActivity" />
        <activity android:name=".bbcfTaoActivity" />
        <activity android:name=".bbcfTerumiActivity" />
        <activity android:name=".bbcfTsubakiActivity" />
        <activity android:name=".bbcfValkActivity" />
        <activity android:name=".Rev2AnswerActivity" />
        <activity android:name=".Rev2AxlActivity" />
        <activity android:name=".Rev2BaikenActivity" />
        <activity android:name=".Rev2BedmanActivity" />
        <activity android:name=".Rev2ChippActivity" />
        <activity android:name=".Rev2DizzyActivity" />
        <activity android:name=".Rev2ElpheltActivity" />
        <activity android:name=".Rev2FaustActivity" />
        <activity android:name=".Rev2HaeyhyunActivity" />
        <activity android:name=".Rev2INoActivity" />
        <activity android:name=".Rev2JackoActivity" />
        <activity android:name=".Rev2JamActivity" />
        <activity android:name=".Rev2JohnnyActivity" />
        <activity android:name=".Rev2KyActivity" />
        <activity android:name=".Rev2LeoActivity" />
        <activity android:name=".Rev2MayActivity" />
        <activity android:name=".Rev2MilliaActivity" />
        <activity android:name=".Rev2PotemkinActivity" />
        <activity android:name=".Rev2RamlethalActivity" />
        <activity android:name=".Rev2RavenActivity" />
        <activity android:name=".Rev2SinActivity" />
        <activity android:name=".Rev2SlayerActivity" />
        <activity android:name=".Rev2VenomActivity" />
        <activity android:name=".Rev2ZatoActivity" />
        <activity android:name=".acrABAActivity" />
        <activity android:name=".acrAnjiActivity" />
        <activity android:name=".acrAxlActivity" />
        <activity android:name=".acrBaikenActivity" />
        <activity android:name=".acrBridgetActivity" />
        <activity android:name=".acrChippActivity" />
        <activity android:name=".acrDizzyActivity" />
        <activity android:name=".acrEddieActivity" />
        <activity android:name=".acrFaustActivity" />
        <activity android:name=".acrINoActivity" />
        <activity android:name=".acrJamActivity" />
        <activity android:name=".acrJohnnyActivity" />
        <activity android:name=".acrJusticeActivity" />
        <activity android:name=".acrKliffActivity" />
        <activity android:name=".acrKyActivity" />
        <activity android:name=".acrMayActivity" />
        <activity android:name=".acrMilliaActivity" />
        <activity android:name=".acrOrderSolActivity" />
        <activity android:name=".acrPotemkinActivity" />
        <activity android:name=".acrRoboKyActivity" />
        <activity android:name=".acrSlayerActivity" />
        <activity android:name=".acr.acrSolActivity" />
        <activity android:name=".acrTestamentActivity" />
        <activity android:name=".acrVenomActivity" />
        <activity android:name=".acrZappaActivity" />







        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>