<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frameburst">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrameBurst">
        <activity android:name=".tagCharactersActivity"></activity>
        <activity android:name=".p4auCharactersActivity" />
        <activity android:name=".uniclrCharactersActivity" />
        <activity android:name=".bbcfCharactersActivity" />
        <activity android:name=".xrd.Rev2SolActivity" />
        <activity android:name=".acrCharactersActivity" />
        <activity android:name=".GuiltygearSeriesActivity" />
        <activity android:name=".bbcf.bbcfAzraelActivity" />
        <activity android:name=".bbcf.bbcfAmaneActivity" />
        <activity android:name=".bbcf.bbcfArakuneActivity" />
        <activity android:name=".bbcf.bbcfBangActivity" />
        <activity android:name=".bbcf.bbcfBulletActivity" />
        <activity android:name=".bbcf.bbcfCarlActivity" />
        <activity android:name=".bbcf.bbcfCelicaActivity" />
        <activity android:name=".bbcf.bbcfEsActivity" />
        <activity android:name=".bbcf.bbcfHakumenActivity" />
        <activity android:name=".bbcf.bbcfHazamaActivity" />
        <activity android:name=".bbcf.bbcfHibikiActivity" />
        <activity android:name=".bbcf.bbcfIzanamiActivity" />
        <activity android:name=".bbcf.bbcfIzayoiActivity" />
        <activity android:name=".bbcf.bbcfJinActivity" />
        <activity android:name=".bbcf.bbcfJubeiActivity" />
        <activity android:name=".bbcf.bbcfKaguraActivity" />
        <activity android:name=".bbcf.bbcfLambdaActivity" />
        <activity android:name=".bbcf.bbcfLitchiActivity" />
        <activity android:name=".bbcf.bbcfMaiActivity" />
        <activity android:name=".bbcf.bbcfMakotoActivity" />
        <activity android:name=".bbcf.bbcfMuActivity" />
        <activity android:name=".bbcf.bbcfNaotoActivity" />
        <activity android:name=".bbcf.bbcfNineActivity" />
        <activity android:name=".bbcf.bbcfNoelActivity" />
        <activity android:name=".bbcf.bbcfNuActivity" />
        <activity android:name=".bbcf.bbcfPlatinumActivity" />
        <activity android:name=".bbcf.bbcfRachelActivity" />
        <activity android:name=".bbcf.bbcfRagnaActivity" />
        <activity android:name=".bbcf.bbcfReliusActivity" />
        <activity android:name=".bbcf.bbcfSusanooActivity" />
        <activity android:name=".bbcf.bbcfTagerActivity" />
        <activity android:name=".bbcf.bbcfTaoActivity" />
        <activity android:name=".bbcf.bbcfTerumiActivity" />
        <activity android:name=".bbcf.bbcfTsubakiActivity" />
        <activity android:name=".bbcf.bbcfValkActivity" />
        <activity android:name=".xrd.Rev2AnswerActivity" />
        <activity android:name=".xrd.Rev2AxlActivity" />
        <activity android:name=".xrd.Rev2BaikenActivity" />
        <activity android:name=".xrd.Rev2BedmanActivity" />
        <activity android:name=".xrd.Rev2ChippActivity" />
        <activity android:name=".xrd.Rev2DizzyActivity" />
        <activity android:name=".xrd.Rev2ElpheltActivity" />
        <activity android:name=".xrd.Rev2FaustActivity" />
        <activity android:name=".xrd.Rev2HaeyhyunActivity" />
        <activity android:name=".xrd.Rev2INoActivity" />
        <activity android:name=".xrd.Rev2JackoActivity" />
        <activity android:name=".xrd.Rev2JamActivity" />
        <activity android:name=".xrd.Rev2JohnnyActivity" />
        <activity android:name=".xrd.Rev2KyActivity" />
        <activity android:name=".xrd.Rev2LeoActivity" />
        <activity android:name=".xrd.Rev2MayActivity" />
        <activity android:name=".xrd.Rev2MilliaActivity" />
        <activity android:name=".xrd.Rev2PotemkinActivity" />
        <activity android:name=".xrd.Rev2RamlethalActivity" />
        <activity android:name=".xrd.Rev2RavenActivity" />
        <activity android:name=".xrd.Rev2SinActivity" />
        <activity android:name=".xrd.Rev2SlayerActivity" />
        <activity android:name=".xrd.Rev2VenomActivity" />
        <activity android:name=".xrd.Rev2ZatoActivity" />
        <activity android:name=".acr.acrABAActivity" />
        <activity android:name=".acr.acrAnjiActivity" />
        <activity android:name=".acr.acrAxlActivity" />
        <activity android:name=".acr.acrBaikenActivity" />
        <activity android:name=".acr.acrBridgetActivity" />
        <activity android:name=".acr.acrChippActivity" />
        <activity android:name=".acr.acrDizzyActivity" />
        <activity android:name=".acr.acrEddieActivity" />
        <activity android:name=".acr.acrFaustActivity" />
        <activity android:name=".acr.acrINoActivity" />
        <activity android:name=".acr.acrJamActivity" />
        <activity android:name=".acr.acrJohnnyActivity" />
        <activity android:name=".acr.acrJusticeActivity" />
        <activity android:name=".acr.acrKliffActivity" />
        <activity android:name=".acr.acrKyActivity" />
        <activity android:name=".acr.acrMayActivity" />
        <activity android:name=".acr.acrMilliaActivity" />
        <activity android:name=".acr.acrOrderSolActivity" />
        <activity android:name=".acr.acrPotemkinActivity" />
        <activity android:name=".acr.acrRoboKyActivity" />
        <activity android:name=".acr.acrSlayerActivity" />
        <activity android:name=".acr.acrSolActivity" />
        <activity android:name=".acr.acrTestamentActivity" />
        <activity android:name=".acr.acrVenomActivity" />
        <activity android:name=".acr.acrZappaActivity" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>