<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frameburst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tagCharactersActivity"></activity>
        <activity android:name=".p4auCharactersActivity" />
        <activity android:name=".uniclrCharactersActivity" />
        <activity android:name=".bbcfCharactersActivity" />
        <activity android:name=".Rev2SolActivity" />
        <activity android:name=".acrCharactersActivity" />
        <activity android:name=".Rev2CharactersActivity" />
        <activity android:name=".GuiltygearSeriesActivity" />
        <activity android:name=".BlazblueSeriesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>